/********** Template CSS **********/
:root {
    --primary: #F43D2A;
    --light: #F1F8FF;
    --dark: #0F172B;
    font-family: 'Plus Jakarta Sans', sans-serif !important;
}

.ff-secondary {
    font-family: 'Plus Jakarta Sans', sans-serif !important;
}

body {
    font-family: 'Plus Jakarta Sans', sans-serif;
}

.fw-medium {
    font-weight: 600 !important;
}

.fw-semi-bold {
    font-weight: 700 !important;
}

h1 {
    font-family: 'Plus Jakarta Sans', sans-serif;
}

.back-to-top {
    position: fixed;
    display: none;
    right: 45px;
    bottom: 45px;
    z-index: 99;
}


/*** Spinner ***/
#spinner {
    opacity: 0;
    visibility: hidden;
    transition: opacity .5s ease-out, visibility 0s linear .5s;
    z-index: 99999;
}

#spinner.show {
    transition: opacity .5s ease-out, visibility 0s linear 0s;
    visibility: visible;
    opacity: 1;
}


/*** Button ***/
.btn {
    /* font-family: 'Nunito', sans-serif; */
    font-weight: 500;
    text-transform: capitalize;
    transition: .5s;
}

.btn.btn-primary,
.btn.btn-secondary {
    color: #FFFFFF;
}

.btn-square {
    width: 38px;
    height: 38px;
}

.btn-sm-square {
    width: 32px;
    height: 32px;
}

.btn-lg-square {
    width: 48px;
    height: 48px;
}

.btn-square,
.btn-sm-square,
.btn-lg-square {
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: normal;
    border-radius: 2px;
}


/*** Navbar ***/
.navbar-dark .navbar-nav .nav-link {
    position: relative;
    padding: 20px;
    font-size: 15px;
    color: var(--light) !important;
    text-transform: capitalize;
    font-weight: 500;
    outline: none;
    transition: .5s;
}


.navbar-dark .navbar-nav .nav-link:hover,
.navbar-dark .navbar-nav .nav-link.active {
    color: var(--primary) !important;
}

.navbar-dark .navbar-brand img {
    max-height: 60px;
    transition: .5s;
}

.sticky-top.navbar-dark .navbar-brand img {
    max-height: 45px;
}

@media (max-width: 991.98px) {
    .sticky-top.navbar-dark {
        position: relative;
    }

    .navbar-dark .navbar-collapse {
        margin-top: 15px;
        border-top: 1px solid rgba(255, 255, 255, .1)
    }

    .navbar-dark .navbar-nav .nav-link,
    .sticky-top.navbar-dark .navbar-nav .nav-link {
        padding: 10px 0;
        margin-left: 0;
    }

    .navbar-dark .navbar-brand img {
        max-height: 45px;
    }
}



@media (min-width: 992px) {
    .navbar-dark {
        /* position: absolute; */
        width: 100%;
        top: 0;
        left: 0;
        z-index: 999;
        background-color: #000000;
    }

    .sticky-top.navbar-dark {
        position: fixed;
        background: var(--dark) !important;
    }
}


@media (max-width: 992px) {
    .enquiry {
        display: none !important;
    }

    .grid {
        grid-template-columns: repeat(1, 1fr) !important;
    }
}


/* hero section  */
.section-hero {
    height: auto;
    margin-bottom: 5%;
}


.hero-bg-img {
    width: 100%;
    background-image: url('../img/Silver-jubilee-img-bg.png');

}

.mask-bg {
    background-color: rgba(0, 0, 0, 0);
}

.img-above-hero-1 {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 70%;

}

.img-above-hero-2 {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 45%;

}



/* over view  */
.overview-p {
    width: 50%;
    color: grey;
}


/* our success  */
.our-success {
    padding-top: 4%;
}

.img-our-success-25yrs {
    width: 473px;
}


.our-success-p {
    background-image: linear-gradient(89deg, #fda404, #f81117);
    color: white;
    font-size: 14px;
    margin-bottom: 8px;
}

/* milestone */

.milestone-bg-img {
    width: 100%;
    background-image: url('../Images/img-milestone-bg.png');
}

.above-milestone {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
}

.section-milestone {
    margin-top: 7%;
}

.img-milestone {
    width: 100%;
}



/* our products */
.title-our-product {
    color: #000000;
}

.our-prouct-title {
    color: #000000;
}

.gbtn:hover {
    background: #FF0000;
    color: rgb(223, 223, 223);
}

.gallery-item {
    position: relative;
    text-align: center;
    height: 100%;
    width: 100%;
}


/* get in touch  */

.form-yourName {
    border: 2px solid #FF0000;
    border-left: none;
    border-right: none;
    border-top: none;
    border-radius: 0;
    padding-left: 0;
}

.text-left {
    width: 90%;
}

.form-button {
    background-color: #FF0000;
    border-radius: 0;
    width: 100%;
    margin-top: 5%;
}


/* responsive tab  */

@media (min-width: 768px) and (max-width: 1024px) {

    /* over view  */
    .overview-p {
        width: 50%;
        color: grey;
    }


    /* our success  */
    .our-success {
        padding-top: 4%;
    }

    .img-our-success-25yrs {
        width: 473px;
    }


    .our-success-p {
        background-image: linear-gradient(89deg, #fda404, #f81117);
        color: white;
        font-size: 14px;
        margin-bottom: 8px;
    }

    /* milestone */
    .section-milestone {
        margin-top: 7%;
    }

    .img-milestone {
        width: 100%;
    }



    /* our products */
    .our-prouct-title {
        color: #000000;
    }

    .gbtn:hover {
        background: #FF0000;
        color: rgb(223, 223, 223);
    }

    /* get in touch  */

    .form-yourName {
        border: 2px solid #FF0000;
        border-left: none;
        border-right: none;
        border-top: none;
        border-radius: 0;
        padding-left: 0;
    }

    .text-left {
        width: 90%;
    }

    .form-button {
        background-color: #FF0000;
        border-radius: 0;
        width: 100%;
        margin-top: 5%;
    }


}

/* responsive mobile  */

@media (min-width: 390px) and (max-width: 480px) {

    /* over view  */
    .overview-p {
        width: 78%;
        color: grey;
    }


    /* our success  */
    .our-success {
        padding-top: 4%;
    }

    .img-our-success-25yrs {
        width: 473px;
    }


    .our-success-p {
        background-image: linear-gradient(89deg, #fda404, #f81117);
        color: white;
        font-size: 14px;
        margin-bottom: 8px;
    }

    /* milestone */
    .section-milestone {
        margin-top: 7%;
    }

    .img-milestone {
        width: 100%;
    }



    /* our products */
    .our-prouct-title {
        color: #000000;
    }

    .product-col {
        padding-bottom: 10%;
    }

    .gbtn:hover {
        background: #FF0000;
        color: rgb(223, 223, 223);
    }

    .product-btn {
        color: #000000;
    }



    /* our products new code */

    .gallery-item .h-100 {
        height: auto !important;
    }

    .thumb {
        margin: auto;
        margin-bottom: 20px;
    }

    .eqipnav .nav-link {
        padding: 3px !important;
    }




    /* get in touch  */

    .form-yourName {
        border: 2px solid #FF0000;
        border-left: none;
        border-right: none;
        border-top: none;
        border-radius: 0;
        padding-left: 0;
    }

    .text-left {
        width: 90%;
    }

    .form-button {
        background-color: #FF0000;
        border-radius: 0;
        width: 100%;
        margin-top: 5%;
    }
}



/*** Footer ***/
.footer .btn.btn-social {
    margin-right: 5px;
    width: 35px;
    height: 35px;
    color: var(--light);
    border-radius: 35px;
    transition: .3s;
}

.footer .btn.btn-social:hover {
    color: var(--primary);
}

.footer .btn.btn-link {
    display: block;
    margin-bottom: 5px;
    padding: 0;
    text-align: left;
    color: #FFFFFF;
    font-size: 15px;
    font-weight: normal;
    text-transform: capitalize;
    transition: .3s;
}

.footer .btn.btn-link::before {
    position: relative;
    content: "\f105";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    margin-right: 10px;
}

.footer .btn.btn-link:hover {
    letter-spacing: 1px;
    box-shadow: none;
}

.footer .copyright {
    padding: 25px 0;
    font-size: 15px;
    border-top: 1px solid rgba(256, 256, 256, .1);
}

.footer .copyright a {
    color: var(--light);
}

.footer .footer-menu a {
    margin-right: 15px;
    padding-right: 15px;
    border-right: 1px solid rgba(255, 255, 255, .1);
}

.footer .footer-menu a:last-child {
    margin-right: 0;
    padding-right: 0;
    border-right: none;
}

.header {
    /* width: 65%; */
    margin: 8% auto 50px;
}

.gallery-item {
    position: relative;
    text-align: center;
}

.gbtn {
    width: 90%;
    min-height: 50px;
    border-radius: 10px;
    background: #FFFFFF;
    border: 0;
    position: relative;
    bottom: 18%;
    display: inline-flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 25px;

}

.eqipcard {
    background: #FF0007;
    color: #ffffff;
    padding: 50px 18%;
    height: 100%;
}

.cmp-white-button,
.cmp-white-button:hover,
.cmp-white-button:before {
    color: #ffffff !important;
    border-color: #ffffff !important;
}

.eqipnav {
    justify-content: space-evenly;
}

.eqipnav .nav-link.active {
    border-bottom: 4px solid #FF0000 !important;
    border: 0;
}

.misssion-card:hover {
    background: linear-gradient(278.47deg, #009E83 -15.04%, #00FF85 94.75%);
    color: #ffffff;
}

.misssion-card:hover img {
    filter: brightness(0) invert(1);
}

.misssion-card img {
    width: 40%;
}

.grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 25px;
}

.bg-blue {
    background: linear-gradient(278.47deg, #1756F7 -15.04%, #00E0FF 94.75%);
}

.thumb {
    background: linear-gradient(278.47deg, #F91218 -15.04%, #FFC700 94.75%);
    width: 250px;
    height: 250px;
    border-radius: 50%;
    padding: 10px;
}

.thumb img {
    width: 100%;
    height: 100%;
}

.tophead {
    background: #262626;
    color: #ffffff;
}

.tophead .fab {
    color: #E42F3C;
}

.pl-8 {
    padding-left: 8rem !important;
}